@page "/client"
@model WebApplication.Pages.ClientPage
@{
    this.ViewData["Title"] = "Просмотр заказов";
    var windowTypes = new SelectList(new string[] { "Бюджетный", "Стандарт", "Премиум" });
}
@section Supports { @{ await this.Html.RenderPartialAsync("ClientTabsPartial"); } }

<div class="container p-0 my-5">
    <div class="row justify-content-center">
        @if(this.Model.ErrorMessage != null)
        {
        <div class="mb-4 alert alert-danger alert-dismissible fade show" role="alert" style="border-radius:16px;">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <strong>Уведомление!</strong>&nbsp;@this.Model.ErrorMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        }
        <div class="col-12 col-sm-10 shadow border border-secondary p-5 mb-4" style="border-radius:16px;">

            <div class="row justify-content-between mb-3">
                <div class="col-12 col-sm-6 col-md-6">
                    <label class="form-label fs-4 fw-semibold"> <i class="bi bi-card-checklist"></i>&nbsp; Список созданных заказов: </label>
                </div>
               <div class="col-12 col-sm-6 col-md-4">
                   
                   <div class="input-group mb-3 flex-nowrap">
                       <button type="button" class="btn flex-grow-1 btn-secondary" data-bs-toggle="collapse" href="#collapseOrder"
                            style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                            Добавить новый заказ
                       </button>
                       <span class="input-group-text"><i class="bi bi-database-fill-add"></i></span>
                    </div>
                </div>
            </div>
            <div class="collapse" id="collapseOrder">
                <form class="card card-body mb-3" method="post" asp-page="ClientPage">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-6">
                            <label class="form-label">Тип окна:</label>
                            @this.Html.DropDownList("Windowtype", windowTypes, new { @class="form-select" })
                        </div>
                        <div class="col-12 col-sm-6">
                            <label class="form-label">Толщина окна:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Кол-во пакетов:</span>
                                <input min="1" max="4" type="number" name="Packetcount" class="form-control" value="1"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6 col-sm-4">
                            <label class="form-label">Ширина окна:</label>
                            <input min="10" max="100" type="number" name="Height" class="form-control" value="50"/>
                        </div>
                        <div class="col-6 col-sm-4">
                            <label class="form-label">Длина окна:</label>
                            <input min="10" max="100" type="number" name="Width" class="form-control" value="50"/>
                        </div>
                        <div class="col-6 col-sm-4">
                            <label class="form-label">&nbsp;</label>
                            <input type="submit" class="btn btn-secondary w-100" value="Заказать"/>
                        </div>
                    </div>
                </form>
            </div>
            
            <div style="overflow:scroll;max-height:300px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th> <th scope="col">Размеры:</th> <th scope="col">Тип окна:</th>
                        <th scope="col">Толщина:</th> <th scope="col">Состояние:</th> <th scope="col">Дата заказа:</th>
                        <th width="30" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var index = 0; index < this.Model.ClientModel.Orders.Count; index++ )
                    {
                    var orderRecord = this.Model.ClientModel.Orders.ElementAt(index);
                    <tr>
                        <th scope="row">@(index + 1)</th> <td>@($"{orderRecord.Width} / {orderRecord.Height} (СМ)")</td>
                        <td>@orderRecord.Windowtype</td> <td>@($"Кол-во пакетов: {orderRecord.Packetcount} (ШТ)")</td>
                        <td>@orderRecord.State</td> <td>@orderRecord.Ordertime</td>
                        <td>
                            <a class="btn btn-secondary w-100" asp-page="ClientPage" asp-route-SelectedOrderId="@orderRecord.Orderid">
                                <i class="bi bi-bookmark-check"></i>
                            </a>
                        </td>
                    </tr> 
                    }
                </tbody>
            </table>
            @if(this.Model.ClientModel.Orders.Count <= 0)
            {
            <div class="d-flex flex-row justify-content-center">
                <label class="form-label fs-5 fw-semibold">Список пока пустой</label>
            </div>
            }
            </div>
        </div>
    </div>
</div>
@if(this.Model.SelectedOrderId != null)
{
<div class="modal show" id="myModal" data-bs-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: var(--main-color);">
                <h1 class="modal-title fs-5">Просмотр заказа #@this.Model.SelectedOrderId</h1>
                <a class="btn-close" asp-page="ClientPage"></a>
            </div>
            <div class="modal-body" style="max-height:300px;">
                <div class="row mb-3">
                    <div class="col-6 col-sm-4">
                        <label class="form-label">Тип окна:</label>
                        <input type="text" class="form-control" readonly value="@this.Model.OrderModel?.Windowtype" />
                    </div>
                    <div class="col-6 col-sm-4">
                        <label class="form-label">Состояние заказа:</label>
                        <input type="text" class="form-control" readonly value="@this.Model.OrderModel?.State" />
                    </div>
                    <div class="col-6 col-sm-4">
                        <label class="form-label">Дата создания:</label>
                        <input type="text" class="form-control" readonly value="@this.Model.OrderModel?.Ordertime" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6 col-sm-4">
                        <label class="form-label">Толщина окна:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Кол-во пакетов:</span>
                            <input type="text" readonly class="form-control" value="@this.Model.OrderModel?.Packetcount (ШТ)"/>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <label class="form-label">Ширина окна:</label>
                        <input type="text" readonly class="form-control" value="@this.Model.OrderModel?.Height (СМ)"/>
                    </div>
                    <div class="col-6 col-sm-4">
                        <label class="form-label">Длина окна:</label>
                        <input type="text" readonly class="form-control" value="@this.Model.OrderModel?.Width (СМ)"/>
                    </div>
                </div>
                <div class="row">
                    <div class="collapse mx-2 mb-3" id="collapsePayment">
                        <div class="card card-body">
                            <label class="form-label mb-3 fs-5 text-decoration-underline fw-semibold">Оплата заказа:</label>
                            <form asp-page="ClientPage" asp-page-handler="Pay" method="post" class=row mb-3">
                                <div class="col-12 col-sm-6">
                                    <select class="form-select" name="paymentType">
                                        @foreach(var item in this.Model.ClientModel.Payments)
                                        {
                                        <option value="@item.Paymentid">@item.Bankaccount / @item.Bankprovider</option> 
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="hidden" value="@this.Model.SelectedOrderId" name="selectedId" />
                                    <input class="btn btn-secondary" @(this.Model.ClientModel.Payments.Count <= 0 ? "disabled" : "") type="submit" value="Получить заказ"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @{ var managerAccount = this.Model.OrderModel?.Manager?.Employee; }
                <div class="row">
                    <div class="collapse mx-2 mb-3" id="collapseManager">
                        <div class="card card-body">
                            <label class="form-label mb-3 fs-5 text-decoration-underline fw-semibold">Данные менеджера:</label>
                            <div class="row mb-3">
                                <div class="col-12 col-sm-6">
                                    <label class="form-label">Фамилия:</label>
                                    <input type="text" readonly class="form-control" value="@managerAccount?.Account.Surname"/>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label class="form-label">Имя:</label>
                                    <input type="text" readonly class="form-control" value="@managerAccount?.Account.Name"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-sm-4">
                                    <label class="form-label">Телефон:</label>
                                    <input type="text" readonly class="form-control" value="@managerAccount?.Account.Phonenumber"/>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <label class="form-label">Образование:</label>
                                    <input type="text" readonly class="form-control" value="@managerAccount?.Education"/>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <label class="form-label">Пол:</label>
                                    <input type="text" readonly class="form-control" value="@managerAccount?.Gender"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: var(--main-color);">
                <button class="btn btn-secondary" @(this.Model.OrderModel?.Manager == null || managerAccount == null ? "disabled" : "") 
                    data-bs-toggle="collapse" data-bs-target="#collapseManager" type="button" > Информация
                </button>
                <button class="btn btn-success" type="button" @(this.Model.OrderModel?.State != "Доставлен" ? "disabled" : "") 
                    data-bs-toggle="collapse" data-bs-target="#collapsePayment"> Оплатить
                </button>
                @{ var checkDeleteDisabled = this.Model.OrderModel?.State == "Готов к отправке" || this.Model.OrderModel?.State == "Доставлен"; }
                <form method="post" asp-page="ClientPage" asp-page-handler="Delete">
                    <input type="hidden" name="orderId" value="@this.Model.OrderModel?.Orderid"/>
                    <input type="submit" class="btn btn-danger" value="Удалить" @(checkDeleteDisabled ? "disabled" : "")/>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script type="text/javascript">
    $(window).on('load', () => $('#myModal').modal('show'));
</script>
}
}
